<style>
  ul {
    list-style: none;
  }
  li {
    float: left;
    text-align: center;
    margin: 8px;
    height: 100px;
  }
  img {
    border-radius: 20px;
  }
  .file-name {
    padding: 4px 0;
    position: relative;
    bottom: 18px;
    z-index: 2;
    font-size: 0.5em;
    height: 10px;
    line-height: 10px;
    font-family: Menlo, monospace;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius:20px;
    border-bottom-left-radius: 20px;
  }
  a {
    display: block;
    text-decoration: none;
  }
</style>
<ul>
{{#files}}
  <li>
    <a href="{{host}}/{{.}}">
      <img src="frame/{{.}}" />
      <div class="file-name">{{.}}</div>
    </a>
  </li>
{{/files}}
</ul>
<script src="build.js"></script>